@using Kursach.Models.Spoonacular;
@using Kursach.Models.User;
@using Kursach;
@using System.Text.Json
@model User; 
@{
    ApplicationContext db = new();
    var login = Context.Request.Cookies["login"];
    User user = db.Users.FirstOrDefault(user => user.login == login);
}
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>
@if(string.IsNullOrEmpty(login)) {
<html lang="en">
<head>
    @section head {
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account</title>
        <link rel="stylesheet" href="~/style/account.css">
        <link rel="shortcut icon" type="image/x-icon" href="~/images/account.ico" /> 
        <script src="../wwwroot/js/signer.js"></script>
    }
</head>
<body>
    <div class="signer">
        <div class="wrapper fadeInDown">
            <div class="formContent ">
                <!-- Tabs Titles -->
                <h2 class="active signup"> Sign Up </h2>
                <h2 class="inactive underlineHover signin">Sign In </h2>
                <!-- SignUp Form -->
                <form method="post" action="~/User/Index" class="formsigner">
                    <input type="text" required id="login" class="fadeIn second" name="login" placeholder="Login">
                    <input type="password" required id="password" class="fadeIn third" name="password" placeholder="Password">
                    <input id="submitter" type="submit" class="fadeIn fourth " value="Sign Up"> @if(ViewData["successfullsignup"] != null) { if((bool)ViewData["successfullsignup"]==true) {
                    <p id="sucsignup">Successful</p>
                    } else {
                    <p id="failsignup">Fail</p>
                    } }
                </form>
            </div>
        </div>
    </div>
    <script>
        const signin = document.getElementsByClassName("signin")[0];
        const signup = document.getElementsByClassName("signup")[0];
        const forma = document.getElementsByClassName("formsigner")[0];

        signin.onclick = function() {
            signin.classList.add("active");
            signin.classList.remove("inactive");
            signin.classList.remove("underlineHover");

            signup.classList.remove("active");
            signup.classList.add("inactive");
            signup.classList.add("underlineHover");

            document.getElementById("submitter").value = "Sign In";

            forma.setAttribute("action", "../User/Logining");

            document.getElementById("sucsignup").innerText = "";
            document.getElementById("failsignup").innerText = "";
        }
        signup.onclick = function() {

            signup.classList.add("active");
            signup.classList.remove("inactive");
            signup.classList.remove("underlineHover");

            signin.classList.remove("active");
            signin.classList.add("inactive");
            signin.classList.add("underlineHover");

            document.getElementById("submitter").value = "Sign Up";
            forma.setAttribute("action", "../User/Index");

            document.getElementById("sucsignup").innerText = "";
            document.getElementById("failsignup").innerText = "";
        }
    </script>
</body>
</html>

} else {
<html lang="en">
<head>
    @section head {
        <link rel="stylesheet" href="~/style/account.css">
        <link rel="icon" href="~/images/account.ico"/>
        <title>MyRecipes</title>
    }
</head>
<body>
<div class="mycontent">       
        <!-- Start All Pages -->
        <div class="all-page-title page-breadcrumb">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Your recipes</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End All Pages -->

        <button id="createnewmealbutton" onclick="showHideCreate()">Create New</button>
        <div class="receptcreator">
            <form method="post" action="../User/CreateNew">
                Img source: <input type="text" name="mealimg" required> <br>
                Name: <input type="text" name="mealname" required><br>              
                Ready In Minutes: <input type="number" name="readyInMinutes" required><br>
                Instructions: <input type="area" name="mealinstructions" required><br>
                Dishtypes: <input type="text" name="dishtypes" required><br>
                Ingredients: <input type="text" name="ingredients" required><br>
                <button type="submit">Create</button>
            </form>
        </div>            
        <hr>

        @if(user?.recipes != null) {
            @foreach (var meal in JsonSerializer.Deserialize<List<MealFull>>(user?.recipes)) 
            {
                <div class="blog-inner-box">
                    <div class="side-blog-img">
                        <img class="img-fluid" src="@meal.image" width="556" height="330" alt="">
                    </div>
                    <div class="inner-blog-detail details-page">
                        <h3>@meal.title Id: @meal.id</h3>
                        <details>
                            <summary>More info</summary>
                            @{
                                string dishtypes = "";
                                if (meal.dishTypes != null)
                                {
                                    foreach (var dtype in meal.dishTypes)
                                    {
                                        dishtypes += dtype;
                                        dishtypes += " ";
                                    }
                                }
                            }
                            <p>@dishtypes</p>
                            <p>Can be cooked in @meal.readyInMinutes minutes</p>
                            <a href="@meal.sourceUrl" class="bn3637 bn36">Source</a>
                            <p><b>Instructions:</b> <br />@meal.instructions</p>
                            <hr>
                            @if (meal.extendedIngredients != null)
                            {
                                <div class="ingredients">
                                    <b>Ingredients:</b>
                                    @foreach (var item in meal.extendedIngredients)
                                    {
                                        <div class="ingr">
                                            <p>Name: @item.name</p>
                                            <p>Amout: @item.measures?.metric?.amount @item.measures?.metric?.unitLong</p>                                                       
                                        </div>
                                    }
                                </div>
                            }
                            <hr>
                            @if (meal.menuItems != null ) //&& meal.menuItems.menuItems != null
                            {
                                <div class="resturants">
                                    <b>Restaurants:</b>
                                    @foreach (var menuitem in meal.menuItems.menuItems)
                                    {
                                        <p>Restaurant: @menuitem.restaurantChain</p>
                                    }
                                </div>
                            }
                        </details>
                        <span style="cursor:pointer;" onclick="unlikerecept(@meal.id)"><img src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" style="width:24px;height:24px;margin-top:10px;"></span>
                        <span style="cursor:pointer;" onclick="editrecipe(@meal.id)"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" style="width:24px;height:24px;margin-top:10px;"></span>
                    </div>
                    <hr>
                </div>  
            }
        }
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>           
            function unlikerecept(id) {     
                 $.ajax({
                 type: "POST",
                 url: `../User/UnLikeRecept?id=${id}`,
                 success: function() {
                     location.reload();
                 }               
                });
            }
            function create() {
                
                var el = document.getElementsByClassName("receptcreator")[0];
                el.style.display="flex";
            }
            function showHideCreate() {
                var el = document.getElementsByClassName("receptcreator")[0];
                if(el.style.display=="none") {
                    el.style.display = "block";
                } else {
                    el.style.display = "none";
                }
            }

            function editrecipe(id) {
                location.href = `../User/GetEditRecipePage?id=${id}`;               
            }
        </script>
</div>
</body>
</html>
}