@using Kursach.Models.Spoonacular;
@using Kursach.Models.User;
@using Kursach;
@using System.Text.Json
@model User; 
@{
    ApplicationContext db = new();
    var login = Context.Request.Cookies["login"];
    User user = db.Users.FirstOrDefault(user => user.login == login);
}
@{
    Layout = "~/Views/_Layout.cshtml";
}
<!DOCTYPE html>

@if(string.IsNullOrEmpty(login)) {
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style/account.css">
    <script src="../wwwroot/js/signer.js"></script>
</head>
<body>

    <div class="signer">
        <div class="wrapper fadeInDown">
            <div class="formContent ">
                <!-- Tabs Titles -->
                <h2 class="active signup"> Sign Up </h2>
                <h2 class="inactive underlineHover signin">Sign In </h2>
                <!-- SignUp Form -->
                <form method="post" action="~/User/Index" class="formsigner">
                    <input type="text" required id="login" class="fadeIn second" name="login" placeholder="Login">
                    <input type="password" required id="password" class="fadeIn third" name="password" placeholder="Password">
                    <input id="submitter" type="submit" class="fadeIn fourth " value="Sign Up"> @if(ViewData["successfullsignup"] != null) { if((bool)ViewData["successfullsignup"]==true) {
                    <p id="sucsignup">Successful</p>
                    } else {
                    <p id="failsignup">Fail</p>
                    } }
                </form>
            </div>
        </div>
    </div>
    <script>
        const signin = document.getElementsByClassName("signin")[0];
        const signup = document.getElementsByClassName("signup")[0];
        const forma = document.getElementsByClassName("formsigner")[0];

        signin.onclick = function() {
            signin.classList.add("active");
            signin.classList.remove("inactive");
            signin.classList.remove("underlineHover");

            signup.classList.remove("active");
            signup.classList.add("inactive");
            signup.classList.add("underlineHover");

            document.getElementById("submitter").value = "Sign In";

            forma.setAttribute("action", "../User/Logining");

            document.getElementById("sucsignup").innerText = "";
            document.getElementById("failsignup").innerText = "";
        }
        signup.onclick = function() {

            signup.classList.add("active");
            signup.classList.remove("inactive");
            signup.classList.remove("underlineHover");

            signin.classList.remove("active");
            signin.classList.add("inactive");
            signin.classList.add("underlineHover");

            document.getElementById("submitter").value = "Sign Up";
            forma.setAttribute("action", "../User/Index");

            document.getElementById("sucsignup").innerText = "";
            document.getElementById("failsignup").innerText = "";
        }
    </script>
</body>
</html>

} else {
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="~/style/mymeals.css">
    <title>MyRecipes</title>
</head>
<body>
<div class="mycontent">
        <button id="createnewmealbutton" onclick="showHideCreate()">Create New</button>

        <div class="receptcreator">
            <form method="post" action="../User/CreateNew">
                Img source: <input type="text" name="mealimg" required> <br>
                Name: <input type="text" name="mealname" required><br>              
                Ready In Minutes: <input type="number" name="readyInMinutes" required><br>
                Instructions: <input type="area" name="mealinstructions" required><br>
                <button type="submit">Create</button>
            </form>
        </div>
            
        @if(user?.recipes != null) {
            @foreach (var meal in JsonSerializer.Deserialize<List<MealFull>>(user?.recipes)) 
            {
                <div class="meal">
                        <div class="maininfo">
                            <img src="@meal.image" width="90" height="90" alt="mealimage">
                            <div class="mealname">
                                <p >@meal.title</p>
                                <p>Id: @meal.id</p>
                            </div>
                        </div>
                        <details>
                            <summary>More info</summary>
                            <div class="additionalinfo">
                                @if (meal.dishTypes != null)
                                {
                                    <p><b>Types</b>: @foreach (var type in meal.dishTypes)
                                        {
                                            @String.Format(type+" ")
                                        }</p>
                                }

                                <p><b>Can be cooked in</b> :@String.Format(@meal.readyInMinutes+" minutes") </p>
                                <a target="_blank" href="@meal.sourceUrl"><button>Source</button></a>
                                <div class="instructions">
                                        @meal.instructions
                                </div>
                               
                                @if (meal.extendedIngredients != null)
                                {
                                    <div class="ingredients">
                                        <b>Ingredients:</b>
                                        @foreach (var ingr in @meal.extendedIngredients)
                                        {
                                            <div class="ingredient">
                                                <p>Name: @ingr.name</p>
                                                <p>Id: @ingr.id</p>  
                                                <div class="measures">
                                                    Measure:
                                                    <p>Amount: @ingr.measures.metric.amount @ingr.measures.metric.unitLong</p> 
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (meal.menuItems != null)
                                {
                                    <div class="restaurants">
                                        <b>Restaurants:</b>
                                        @foreach (var rest in meal.menuItems?.menuItems)
                                        {
                                            <div class="restik">
                                                <img src="@rest.image" width="40" height="40">
                                                <div class="restname">
                                                    <p>@rest.title</p>
                                                    <p><b>Restaurant Chain:</b> @rest.restaurantChain</p>                                                   
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                        </div>
                        </details>

                        <img style="cursor:pointer; margin-top:30px;" 
                        src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" width="65" height="65" 
                        onclick="unlikerecept(@meal.id)">

                        <img style="cursor:pointer; margin-top:30px;" 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" width="65" height="65" 
                        onclick="editrecipe(@meal.id)">                     
                    </div>         
            }
        }
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            
            function unlikerecept(id) {     
                 $.ajax({
                 type: "POST",
                 url: `../User/UnLikeRecept?id=${id}`,
                 success: function() {
                     location.reload();
                 }
                
                });
            }
            function create() {
                
                var el = document.getElementsByClassName("receptcreator")[0];
                el.style.display="flex";
            }
            function showHideCreate() {
                var el = document.getElementsByClassName("receptcreator")[0];
                if(el.style.display=="none") {
                    el.style.display = "block";
                } else {
                    el.style.display = "none";
                }
            }

            function editrecipe(id) {
                location.href = `../User/GetEditRecipePage?id=${id}`;               
            }
        </script>
</div>
</body>
</html>
}