@using Kursach.Models.Spoonacular;
@model MealFull;
@{
    Layout = "~/Views/_Layout.cshtml";
}
<!doctype html>
<html>
    <head>
        @section head {
            <title>Edit Recipe</title>
            <link rel="icon" type="image/x-icon" href="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png">
            <link rel="shortcut icon" type="image/x-icon"  href="~/images/editpage.ico"/>
            <link rel="stylesheet" href="~/style/editpage.css"/>
        }
    </head>
    <body>
        @if (Model != null)
        {
            <form method="post" action="~/User/EditRecipe">
                Image src: <input type="text" value="@Model.image" required name="imagesrc"/>
                Meal title: <input type="text" value="@Model.title" required name="title"/>
                Can be cooked: <input type="number" value="@Model.readyInMinutes" required name="readyin"/>
                Instructions: <input type="text" value="@Model.instructions" required name="instructions"/>
                <input type="text" style="display:none;" value="@Model.id" required name="id"/>
                <button type="submit">Submit</button>
            </form>
        }
    </body>
</html>