
@using Kursach.Models.Edamam_Food
@using Kursach.Models.Meals;
@model ListOfMeals
@{
    Layout = "~/Views/_Layout.cshtml";
}


<!doctype html>
<html>
    <head>   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Searching</title>
        <link rel="stylesheet" href="~/style/meal.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="content">
            <div class="leftsidesearch">
                <div class="containers">

                    <div class="searchbyid">
                        <h3>ById</h3>
                        <form method="get" action="~/MealsAll/MealById?id={id}">
                            <input type="text" name="id" id="id" required>
                            <button type="submit">Search</button>                           
                        </form>
                    </div>

                    <div class="searchbyname">
                        <h3>ByName</h3>
                        <form method="get" action="~/MealsAll/MealByName?name={name}">
                            <input type="text" name="name" id="name" required>
                            <button type="submit" >Search</button>
                        </form>
                    </div>

                    <div class="searchbyregion">
                        <h3>ByRegion</h3>
                        <form method="get" action="~/MealsAll/AreaMeal?area={area}">
                            <input type="text" name="area" id="region" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>

                    <div class="searchbycategory">
                        <h3>ByCategory</h3>
                        <form method="get" action="~/MealsAll/MealByCategory?category={category}">
                            <input type="text" name="category" id="category" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>

                    <div class="searchbyingredient">
                        <h3>ByIngredient</h3>
                        <form method="get" action="~/MealsAll/MealByMainIngredient?ingredient={ingredient}">
                            <input type="text" name="ingredient" id="ingredient" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="multisearch">
                        <h3>MultiSearch</h3>
                        <form method="get" action="~/MealsAll/MultiSearch?value={value}">
                            <input type="text" name="value" id="ingredient" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="verticalline"></div>
            <div class="rightsidesearch">
            @if (Model != null)
            {
                if (Model.edamam == null)
                {
                   @if (Model.meals != null)
                   {
                        @foreach (var item in Model?.meals)
                        {
                            @@item.SetIngrs();
                            <div class="meal">
                                    <div class="mealimg">
                                        <img width="120" height="120" src="@item.strMealThumb">
                                    </div>
                                    <div class="descrip">
                                        <h2><b>@item.strMeal</b></h2>
                                        <p>ID: @item.idMeal</p>                                
                                    </div>
                                    <div class="mealingredients">
                                        @if (item.ingredients != null)
                                        {
                                            <p>Ingredients:</p>
                                            <ul class="ingredientslist">
                                                @foreach (var ingr in item.ingredients)
                                                {
                                                if (!string.IsNullOrEmpty(ingr))
                                                {
                                                    <li>@ingr</li>
                                                }
                                        }
                                            </ul>
                                        }
                                    </div>
                                    <p>Area: @item.strArea</p>
                                    <p>Tags: @item.strTags</p>
                                    @if(!string.IsNullOrEmpty(item.strYoutube)){
                                        <p><a target="_blank" href="@item.strYoutube">Youtube tutorial</a></p>
                                    }
                                    <img style="cursor:pointer;" onclick="likerecept(@item)" width="50" height="50" src="https://i.pinimg.com/originals/19/3a/10/193a10dc517a5434d011965a28da2f86.png">
                            </div>
                        }
                   }
                } 
                else
                {
                    @if( Model.edamam != null ) {
                    @foreach (var item in Model.edamam.hints)
                        {
                            <div class="meal">
                                <img src="@item.image" alt="no photo"/>
                                <p>@item.food.label</p>
                                <p>Id: @item.food.foodId</p>
                                <p>Category: @item.category</p>
                                <p>@item.food.uri</p>
                            </div>
                        }
                    }
                }
            }
            
                
        </div>
        </div>
        <script>
            
            function likerecept(meal) {
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "../User/LikeRecept", false);
                xhr.send(meal);
                
            }
        </script>
    </body>
</html>


