
@using Kursach.Models.Edamam_Food
@using Kursach.Models.Meals;
@model ListOfMeals
@{
    Layout = "~/Views/_Layout.cshtml";
}


<!doctype html>
<html>
    <head>   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Searching</title>
        <link rel="stylesheet" href="~/style/meal.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="content">
            <div class="leftsidesearch">
                <div class="containers">

                    <div class="searchbyid">
                        
                        <form method="get" action="~/MealsAll/MealById?id={id}">
                            <h3>ById</h3>
                            <input type="text" name="id" id="id" required>
                            <button type="submit">Search</button>                           
                        </form>
                    </div>

                    <div class="searchbyname">
                        
                        <form method="get" action="~/MealsAll/MealByName?name={name}">
                            <h3>ByName</h3>
                            <input type="text" name="name" id="name" required>
                            <button type="submit" >Search</button>
                        </form>
                    </div>

                    <div class="searchbyregion">
                        
                        <form method="get" action="~/MealsAll/AreaMeal?area={area}">
                            <h3>ByRegion</h3>
                            <input type="text" name="area" id="region" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>

                    <div class="searchbycategory">
                        
                        <form method="get" action="~/MealsAll/MealByCategory?category={category}">
                            <h3>ByCategory</h3>
                            <input type="text" name="category" id="category" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>

                    <div class="searchbyingredient">
                        
                        <form method="get" action="~/MealsAll/MealByMainIngredient?ingredient={ingredient}">
                            <h3>ByIngredient</h3>
                            <input type="text" name="ingredient" id="ingredient" required>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    
                </div>
            </div>
            <div class="verticalline"></div>
            <div class="rightsidesearch">
                <div class="searchresult">
                    <p>Search results</p>
                    @if(Model == null || Model.meals == null)
                    {
                        <p>Found 0 results</p>
                    } else
                    {
                        <p>Found @Model.meals.Count results</p>
                    }
            </div>
                @if (Model.meals != null)
                    {
                            @foreach (var item in Model?.meals)
                            {
                                @@item.SetIngrs();
                                <div class="meal">
                                        <div class="maininfo">
                                            <img width="160" height="160" src="@item.strMealThumb">
                                            <div class="descrip">
                                                <h2><b>@item.strMeal</b></h2>
                                                <p>ID: @item.idMeal</p>                                
                                            </div>
                                        </div>
                                        <div class="mealingredients">
                                            @if (item.ingredients != null)
                                            {
                                                <p><b>Ingredients:</b></p>
                                                <ul class="ingredientslist">
                                                    @foreach (var ingr in item.ingredients)
                                                    {
                                                    if (!string.IsNullOrEmpty(ingr))
                                                    {
                                                        <li>@ingr</li>
                                                    }
                                            }
                                                </ul>
                                            }
                                        </div>
                                        <p>Area: @item.strArea</p>
                                        <p>Tags: @item.strTags</p>
                                        @if(!string.IsNullOrEmpty(item.strYoutube)){
                                            <a target="_blank" href="@item.strYoutube"><button id="youtubetutorial">Youtube tutorial</button></a>
                                            @*<p id="youtubetutor"><a target="_blank" href="@item.strYoutube">Youtube tutorial</a></p>*@
                                        }
                                        <hr>
                                        <p>Instructions: @item.strInstructions</p>
                                        <img style="cursor:pointer;" onclick="likerecept(@item.idMeal)" width="50" height="50" src="https://i.pinimg.com/originals/19/3a/10/193a10dc517a5434d011965a28da2f86.png">
                                </div>
                            }
                    }
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            
            function likerecept(id) {     
                 $.ajax({
                 type: "POST",
                 url: `../User/LikeRecept?id=${id}`,
                 
             });
           }
        </script>
    </body>
</html>




